In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

patients = pd.read_csv("/Users/eueanastasiou/Documents/GitHub/clinical-data-dashboard/data/patients.csv", delimiter=';')
vitals = pd.read_csv("/Users/eueanastasiou/Documents/GitHub/clinical-data-dashboard/data/vitals.csv", delimiter=';')

df = pd.merge(vitals, patients, on = 'patient_id')

df['bmi'] = df['weight_kg'] / ((df['height_cm'] / 100) ** 2)

df['high_bp'] = (df['systolic_bp'] > 140) | (df['diastolic_bp'] > 90)

df.head()

,patient_id,date,systolic_bp,diastolic_bp,heart_rate,temp_c,spo2,glucose_mg_dl,name,age,gender,height_cm,weight_kg,bmi,high_bp
0,P001,1/7/25,130,85,78,36.6,97,110,John Smith,45,M,185,85,24.835646,False
1,P002,8/7/25,140,90,82,36.7,95,125,Maria Lopez,62,F,164,70,26.026175,False
2,P003,2/7/25,160,100,90,37.1,93,180,Ali Khan,35,M,178,90,28.405504,True
3,P004,5/7/25,120,80,75,36.5,98,95,Elena Papas,52,F,160,65,25.390625,False
4,P005,6/7/25,110,75,80,38.0,96,100,Anton Sied,67,F,169,68,23.808690,False